<div class="d-flex justify-content-between align-items-center">
  <div class="card flex-fill">
    <div class="card-body ">
      <h5>Total</h5>
      <h6>20</h6>
    </div>
  </div>
  <div class="card flex-fill mx-3">
    <div class="card-body ">
      <h5>Páginas</h5>
      <h6>20</h6>
    </div>
  </div>
  <div class="card flex-fill mx-3">
    <div class="card-body">
      <h5>Total no Ano</h5>
      <h6>20</h6>
    </div>
  </div>
  <div class="card flex-fill">
    <div class="card-body">
      <h5>Total no Mês</h5>
      <h6>20</h6>
    </div>
  </div>
</div>
<div class="card d-flex mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col">
            <table class="table table-striped">
              <thead class="table-dark">
                <tr>
                  <th class="d-flex justify-content-between align-items-center">Últimos 10 livros
                    <a href="/livros/livros-lista"
                       class="text-white"><i class="fal fa-books"></i></a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Teste</td>
                </tr>
                <tr>
                  <td>Teste</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-6">
        Livros por mês
      </div>
    </div>
  </div>
</div>
