<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand"
       href="#">Livros</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarCollapse">
      @if((this.accountService.currentUser() != null))
      {
      <ul class="navbar-nav me-auto mb-2 mb-md-0"
          *ngIf="(this.accountService.currentUser)">

        @if(accountService.currentUser()?.roles?.includes("Admin"))
        {
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/user/user-register">Cadastrar Usuários</a>
        </li>
        }

        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active">Lista</a>
        </li>

      </ul>
      <div class="dropdown"
           *ngIf="(this.accountService.currentUser()) as user"
           dropdown>
        <a class="dropdown-toggle text-light text-decoration-none ms-2"
           dropdownToggle>
          Bem vindo, {{ this.accountService.currentUser()?.userName | titlecase }}
        </a>
        <div class="dropdown-menu"
             *dropdownMenu>
          <a class="dropdown-item"
             routerLink="/user/user-register">Editar Cadastro</a>
          <a class="dropdown-item"
             (click)="logout()">Logout</a>
        </div>
      </div>
      }
      @if(!(this.accountService.currentUser()))
      {
      <form class="d-flex"
            role="search"
            #loginForm="ngForm"
            (ngSubmit)="login()"
            autocomplete="off">
        <input class="form-control me-2"
               type="text"
               placeholder="Email"
               autocomplete="off"
               name="email"
               [(ngModel)]="model.email">
        <input class="form-control me-2"
               type="password"
               placeholder="Password"
               autocomplete="off"
               name="password"
               [(ngModel)]="model.password">
        <button class="btn btn-outline-success"
                type="submit">Login</button>
      </form>
      }
    </div>
  </div>
</nav>