<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
  <div class="container">
    <a class="navbar-brand"
       href="#">Livros</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarCollapse">
      @if((this.accountService.currentUser() != null))
      {
      <ul class="navbar-nav me-auto mb-2 mb-md-0"
          *ngIf="(this.accountService.currentUser)">


        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/livros/livros-lista">Lista</a>
        </li>
        <li class="nav-item dropdown"
            dropdown>
          <div class="nav-link dropdown-toggle"
               id="dropdownMenu"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
               dropdownToggle>
            Configurações
          </div>
          <div class="dropdown-menu"
               aria-labelledby="dropdownMenu"
               *dropdownMenu>
            @if(accountService.currentUser()?.roles?.includes("Admin"))
            {
            <a class="dropdown-item"
               routerLinkActive="active"
               routerLink="/user/user-register">Usuário</a>
            }
            <a class="dropdown-item"
               routerLinkActive="active"
               routerLink="/livros/livros-lista">Livros</a>
          </div>
        </li>

      </ul>
      <div class="dropdown"
           *ngIf="(this.accountService.currentUser()) as user"
           dropdown>
        <a class="dropdown-toggle text-light text-decoration-none ms-2"
           dropdownToggle>
          Bem vindo, {{ this.accountService.currentUser()?.userName | titlecase }}
        </a>
        <div class="dropdown-menu"
             *dropdownMenu>
          <a class="dropdown-item"
             routerLink="/user/user-register">Editar Cadastro</a>
          <a class="dropdown-item"
             (click)="logout()">Logout</a>
        </div>
      </div>
      }

    </div>
  </div>
</nav>
