<div class="d-flex">
  <h3>Cadastro de Usuários</h3> <button class="btn btn-success mx-2 "
          type="button"
          (click)="criarUsuario()">
    <i class="fal fa-plus"> </i> Novo
  </button>
</div>

@if(novoCadastro){


<form (ngSubmit)="salvarCadastro()"
      autocomplete="off"
      [formGroup]="registerForm"
      class="mt-3">

  <input type="hidden"
         name="Id"
         [formControl]="$any(registerForm.controls['id'])">

  <div class="row">
    <div class="col">
      <app-text-input [type]="'text'"
                      [formControl]="$any(registerForm.controls['email'])"
                      [label]="'Email'"></app-text-input>
    </div>
    <div class="col">
      <app-text-input [type]="'text'"
                      [formControl]="$any(registerForm.controls['userName'])"
                      [label]="'Nome'"></app-text-input>
    </div>

  </div>
  @if(this.user.id.length > 2){
  <div class="row">
    <div class="col">
      <app-text-input [type]="'password'"
                      [formControl]="$any(registerForm.controls['passwordAntigo'])"
                      [label]="'Senha Atual'"></app-text-input>
    </div>
  </div>
  }
  <div class="row">
    <div class="col">
      <app-text-input [type]="'password'"
                      [formControl]="$any(registerForm.controls['password'])"
                      [label]="'Nova Senha'"></app-text-input>
    </div>
    <div class="col">
      <app-text-input [type]="'password'"
                      [formControl]="$any(registerForm.controls['confirmPassword'])"
                      [label]="'Confirmar Senha'"></app-text-input>
    </div>
  </div>

  <div class="mb-3">
    @for(role of avaliableRoles; track $index){
    <div class="row">
      <div class="col">
        <div class="form-check">
          <input type="checkbox"
                 class="form-check-input"
                 value="{{role}}"
                 (change)="onCheckChange($event)"
                 [checked]="selectedRoles.includes(role)" />
          <label>{{role}}</label>


        </div>
      </div>

    </div>
    }
  </div>

  <button type="submit"
          class="btn mx-2"
          [ngClass]="{'btn-success' : this.registerForm.valid, 'btn-danger' : this.registerForm.invalid}"
          [disabled]="this.registerForm.invalid">Salvar

    @if(this.registerForm.invalid){
    <i class="fal fa-exclamation-triangle"></i>
    }

  </button>
  <button type="button"
          class="btn btn-info"
          (click)="cancelar();">Cancelar</button>
</form>
}

<app-user-list (selectedUser)="preencherFormulario($event)"
               (mudarPagina)="pagedChanged($event)"
               [users]="paginatedResults()"></app-user-list>